<!DOCTYPE html>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">
<html>
  <head>
<super-navbar>  
<super-navbar-title>    
Zoeken
</super-navbar-title>  
<super-navbar-button side="right" onclick="openSettings()">    
Instellingen  
</super-navbar-button>
</super-navbar>
    <style>
      html, body{
        height: 100%;
		margin-top: 50px;
        margin: 0px;
        padding: 0px
      }
	  #map-canvas {
	  height:100%;
	  }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <script>
// Note: This example requires that you consent to location sharing when
// prompted by your browser. If you see a blank space instead of the map, this
// is probably because you have denied permission for location sharing.

var map;
var pos;
var pos2;
var pos3;
var pos4;

function initialize() {
  var mapOptions = {
    zoom: 17
  };
  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  // Try HTML5 geolocation
  if(navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      pos = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
	  pos2 = new google.maps.LatLng(position.coords.latitude - 0.0005, position.coords.longitude - 0.0012);	
	  pos3 = new google.maps.LatLng(position.coords.latitude + 0.0011, position.coords.longitude - 0.0007);	
	  pos4 = new google.maps.LatLng(position.coords.latitude - 0.001, position.coords.longitude + 0.00014);	
	  
	  var mainUser = {
		  url: '/images/LogoSmall.png'
	  };
	  
	  var surroundingUser = {
		  url: '/images/LogoSmall.png'
	  };
	  
	  var marker = new google.maps.Marker({
	  icon: mainUser,
      position: pos,
      map: map,
	  });
	  
	  var marker2 = new google.maps.Marker({
	  icon: surroundingUser,
      position: pos2,
      map: map, 
	  });
	  
	  var marker3 = new google.maps.Marker({
	  icon: surroundingUser,
      position: pos3,
      map: map, 
	  });
	  
	  var marker4 = new google.maps.Marker({
	  icon: surroundingUser,
      position: pos4,
      map: map, 
  }); 
  
      map.setCenter(pos);
    }, function() {
      handleNoGeolocation(true);
    });
  } else {
    // Browser doesn't support Geolocation
    handleNoGeolocation(false);
  }
}

function handleNoGeolocation(errorFlag) {
  if (errorFlag) {
    var content = 'Error: The Geolocation service failed.';
  } else {
    var content = 'Error: Your browser doesn\'t support geolocation.';
  }

  var options = {
    map: map,
    position: new google.maps.LatLng(60, 105),
    content: content
  };

  var infowindow = new google.maps.InfoWindow(options);
  map.setCenter(options.position);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
  </head>
  <body>
  <div class="list list-inset">
  <label class="item item-input">
  <i class="icon super-search placeholder-icon"></i>
    <input type="text" placeholder="Zoeken">
  </label>
<label class="item item-input item-select">
    <div class="input-label">
      Categorie
    </div>
    <select>
      <option>Klussen</option>
      <option selected>Tuinwerkzaamheden</option>
      <option>Zorg</option>
    </select>
  </label>
</div>
    <div id="map-canvas"></div>
  </body>
</html>