<script>
	function check()
	{
		if(localStorage.getItem("Naam"))
		{
			alert('Er is een naam');
		}
	}
	
	function removeKey()
	{
		localStorage.removeItem("Naam");
	}
</script>
    
<div class="padding" id="block">

  <super-navbar>
    <super-navbar-title>
      Karma
    </super-navbar-title>
  </super-navbar>

  <p>
  <center><img src="/images/karmaLogo.png" alt="Logo" style="width:270px;height:61px;"></center>
  </p>
  
  <p>
  This application is still in developing. Please try again later to see if there is an update!
  </p>

  <super-navigate location="example#view-requests">
    <button class="button button-block button-stable icon-left super-android-friends">View Requests</button>
  </super-navigate>

  <super-navigate location="example#log-in">
    <button class="button button-block button-stable icon-left super-android-contact">Log In</button>
  </super-navigate>
  
  <super-navigate location="example#settings">
    <button class="button button-block button-stable icon-left super-android-settings">Settings</button>
  </super-navigate>

<!--<button onClick="check()">check</button>
<button onClick="removeKey()">remove</button>-->
</div>
