<super-navbar>  
<super-navbar-title>    
Aanvragen  
</super-navbar-title>  
</super-navbar>
<style>
.circular {
	width: 200px;
	height: 200px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	padding:0;
	border: 5px solid #00B5FF;
}
</style>
<a class="item item-thumbnail" href="#"><img class="circular" src="http://fc05.deviantart.net/fs70/f/2014/150/9/6/profile_picture_by_thor_thunderer-d7kdvbh.jpg"></a>
<div class="list list-inset">
  <label class="item item-input">
    <textarea placeholder="Uw reactie..."></textarea>
  </label>
  </div>
  <div class="list list-inset">
    <label class="item item-input item-select">
    <div class="input-label">
      Aantal personen nodig
    </div>
    <select>
      <option selected>1</option>
      <option>2</option>
      <option>3</option>
	  <option>4</option>
    </select>
  </label>
  </div>
    <div class="list list-inset">
    <label class="item item-input">
    <textarea placeholder="Benodigdheden"></textarea>
  </label>
  </div>
  <div class="list list-inset">
<button class="button button-block button-positive">
	Helpen
</button>
</div>
<script>
var Requests = supersonic.data.model('request');

function submitRequest()
{
	var object = 
	{
		title: document.getElementById("title").value,
		content: document.getElementById("content").value,
		poster: localStorage.getItem("Name"),
	};
			
	var request = new Requests(object);
	request.save().then( function() 
	{
		alert("Request Posted! Return to Main Menu.");
	});	
}

	/*function saveRequest()
	{
		var title = '';
		title = document.getElementById("title").value;
		localStorage.setItem("Title", title);
		
		var request = '';
		request = document.getElementById("request").value;
		localStorage.setItem("Request", request);
		
		var submitter = '';
		submitter = localStorage.getItem("Name");
		localStorage.setItem("Submitter", submitter);
	}*/
</script>