<div class="padding" ng-controller="SettingsController">

      <super-navbar>
        <super-navbar-title>
          Settings
        </super-navbar-title>
      </super-navbar>
        
      <ul class="list">
        <li class="item item-toggle">
           Optie 1
           <label class="toggle toggle-assertive">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
    
        <li class="item item-toggle">
           Optie 2
           <label class="toggle toggle-royal">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
    
        <li class="item item-toggle">
           Optie 3
           <label class="toggle toggle-balanced">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
    
        <li class="item item-toggle">
           Optie 4
           <label class="toggle toggle-calm">
             <input type="checkbox">
             <div class="track">
               <div class="handle"></div>
             </div>
           </label>
        </li>
      </ul>
    
    
      <div class="list">
          <div class="item range range-positive">
              <i class="icon super-volume-low"></i>
                <input type="range" name="volume" min="0" max="100" value="50">
              <i class="icon super-volume-high"></i>
          </div>
        <div class="item range range-positive">
          <i class="icon super-ios-circle-outline"></i>
          <input id="range" type="range" name="range" min="0" max="10" value="5">
          <i class="icon super-ios-circle-filled"></i>
        </div>
        <center id="rangeValue"></center>
      </div>
      <button class="button button-block button-stable" onclick="saveRange()">Save Settings</button>
      
      </div>
	
<script>
	var range = "";

	function checkRange()
	{		
		document.getElementById("rangeValue").innerHTML = "Current range: " + document.getElementById("range").value + "km";
		range = document.getElementById("range").value;
	}

	function saveRange()
	{
		localStorage.setItem("Range", range);
	}

	setInterval(function() {
    	checkRange();
	}, 100)
</script>
