<super-navbar>
  <super-navbar-title>
    View Requests
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <div class="card padding">
    <p class="balanced"><strong>Help with moving</strong></p>
    <p>Hello, I am moving in this new area soon and I would love some help with unpacking and moving the furniture since I can not do this alone.</p>
  </div>

  <div class="card padding">
    <p class="balanced"><strong>Computer Problem</strong></p>
    <p>Hello, I am searching for a person that is good with computer. This is because there is something wrong with my computer and I don't know how to fix this myself.</p>
  </div>
  
  <div class="card padding">
    <p class="balanced"><strong>Repairing Carlight</strong></p>
    <p>Hello, today my left front light of my car broke, I need some help with replacing it since I don't know how to do this myself. The car is a Nissan GT-R from 2015. it goes from 0 to 100 km/h in 2.9 seconds and has a nice black matte color. If you help me, I will take you for a ride!</p>
  </div>
  
  <div class="card padding">
    <p class="balanced"><strong>Help wanted with gardening</strong></p>
    <p>Hello, this weekend I want to start patching up my garden. Since I am not that young anymore, I would love some help from someone. You can even eat dinner with us for the trouble!</p>
  </div>

</div>
