<super-navbar>
  <super-navbar-title>
    View Requests
  </super-navbar-title>
</super-navbar>

<div class="padding">

  <!--<div id="userSubmit" style="display:none" class="card padding">
  	<p class="balanced"><strong id="title"></strong></p>
    <p id="content"></p>
    <p id="submitter"></p>
  </div>-->

  <div id="post0" style="display:none" class="card padding">
    <p class="balanced"><strong id="title0"></strong></p>
    <p id="content0"></p>
    <p id="poster0"></p>
  </div>

  <div id="post1" style="display:none" class="card padding">
    <p class="balanced"><strong id="title1"></strong></p>
    <p id="content1"></p>
    <p id="poster1"></p>
  </div>
  
  <div id="post2" style="display:none" class="card padding">
    <p class="balanced"><strong id="title2"></strong></p>
    <p id="content2"></p>
    <p id="poster2"></p>
  </div>
  
  <div id="post3" style="display:none" class="card padding">
    <p class="balanced"><strong id="title3"></strong></p>
    <p id="content3"></p>
    <p id="poster3"></p>
  </div>
  
  <div id="post4" style="display:none" class="card padding">
    <p class="balanced"><strong id="title4"></strong></p>
    <p id="content4"></p>
    <p id="poster4"></p>
  </div>

<center><button class="button button-stable icon-left super-chevron-left" onclick="pageDown()"></button>
<button class="button button-stable icon-right super-chevron-right" onclick="pageUp()"></button></center>
<center><div id="pageNumber"></div></center>
</div>

<script>
window.onload = fillRequests;
var page = 1;
	function checkRangePosts()
	{
		if(localStorage.getItem("Range") > 0)
		{
			document.getElementById("post0").style.display = "block";
		}
		
		if(localStorage.getItem("Range") > 2)
		{
			document.getElementById("post1").style.display = "block";
		}
		
		if(localStorage.getItem("Range") > 4)
		{
			document.getElementById("post2").style.display = "block";
		}
		
		if(localStorage.getItem("Range") > 6)
		{
			document.getElementById("post3").style.display = "block";
		}
		
		if(localStorage.getItem("Range") > 8)
		{
			document.getElementById("post4").style.display = "block";
		}
		
	}
	var Requests = supersonic.data.model('request');
	
	function fillRequests()
	{
		document.getElementById("pageNumber").innerHTML = "Currently Viewing Page: " + page; 
		Requests.findAll({limit: 5}).then( function(requests) 
		{
			for (i = 0; i < requests.length; i++) 
			{
				document.getElementById("title" + i).innerHTML = requests[i].title;
				document.getElementById("content" + i).innerHTML = requests[i].content;
				document.getElementById("poster" + i).innerHTML = requests[i].poster;
			}
		});
	}

	function pageUp()
	{
		if(page != 2)
		{
			page += 1;
			document.getElementById("pageNumber").innerHTML = "Currently Viewing Page: " + page; 
		}
		else
		{
			page = 2;
			document.getElementById("pageNumber").innerHTML = "Currently Viewing Page: " + page; 
		}
	}
	
	function pageDown()
	{
		if(page != 1)
		{
			page -= 1;
			document.getElementById("pageNumber").innerHTML = "Currently Viewing Page: " + page; 
		}
		else
		{
			page = 1;
			document.getElementById("pageNumber").innerHTML = "Currently Viewing Page: " + page; 
		}
	}
	
	setInterval(function() {
    	//checkUserSubmit();
		checkRangePosts();
	}, 500)
</script>
