<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="request['title']"></h2>
      
      
      
       <p>content: <span ng-bind="request['content']"></span></p> 
      
       <p>poster: <span ng-bind="request['poster']"></span></p> 
      


      <super-modal-show location="request#edit?id={{ request.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(request.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
