/***********************************************************
 * These styles apply for native components on Android.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/

navigation-bar {
  background-color: white;
  color: #22313F;
  padding-left: 6px;
  padding-right: 6px;
}

navigation-bar title {
  color: #22313F;
  font-size: 18px;
  font-weight: bold;
}

navigation-bar button {
  color: #22313F;
  font-weight: 300;
  margin-left: 6px;
  margin-right: 6px;
}

navigation-bar back-indicator {
  background-image: url(default_back_icon.png);
  background-size: 18;
}

navigation-bar back-button {
  color: #22313F;
  font-weight: 300;
}

/**************************************
 *  Tab Bar
 *************************************/

tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
  background-color:#2C3941;
}

tab-bar tab-bar-item {
  color: white;
  font-family: "Roboto";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color:#23A7F1;
  font-family: "Roboto";
  font-size: 10px;
  font-weight:bold;
}

tab-bar divider {
  background-color: #D8D8D8;
}

tab-bar tab-bar-item marker-top:selected {
  background-color: #1596f7;
}

/* Tab bar knoppen */

tab-bar-item#accelerometer {
  background-image: url(icons/notifi.svg);
}

tab-bar-item#index {
  background-image: url(icons/aanvr.svg);
}

tab-bar-item#geolocation {
  background-image: url(icons/map.svg);
}