<div ng-controller="IndexController">

<super-navbar>  
<super-navbar-title>    
Meldingen
</super-navbar-title>  
<super-navbar-button side="right" onclick="openSettings()">    
Instellingen
</super-navbar-button>
</super-navbar>

<div class="button-bar">
  <a class="button">Mijn aanvragen</a>
  <a class="button">Reacties</a>
</div>
<div class="list card">
  <div class="item item-avatar">
    <img src="http://www.realtimearts.net/data/images/art/46/4640_profile_nilssonpolias.jpg">
    <h2>Helpen in de tuin</h2>
    <p>Ik heb morgen 10 uur 's morgens tijd.</p>
		<div class="button-bar">
		  <a class="button button-balanced"><i class="icon super-checkmark"></i></a>
		  <a class="button button-assertive"><i class="icon super-close"></i></a>
		</div>
   </div>
   
   <div class="item item-avatar">
    <img src="https://lh5.googleusercontent.com/-ZadaXoUTBfs/AAAAAAAAAAI/AAAAAAAAAGA/19US52OmBqc/photo.jpg">
    <h2>Helpen in de tuin</h2>
    <p>Ik help je graag!</p>
		<div class="button-bar">
		  <a class="button button-balanced"><i class="icon super-checkmark"></i></a>
		  <a class="button button-assertive"><i class="icon super-close"></i></a>
		</div>
   </div>
	
	</div>
